body {
  text-align: center;
  background: #9ed3ff;
}
#viewer {
  position: relative;
  width: 500px;
  height: 500px;
  background: white;
  float: left;
}
.col {
  float: left;
}
form {
  text-align: left;
  padding: 18px;
  border: 1px solid black;
  margin: 10px;
  width: 174px;
  height: 327px;
  margin-top: 0;
}
.box {
  text-align: left;
  padding: 18px;
  border: 1px solid black;
  margin: 10px;
  margin-top: 0;
}
#orderList {
  width: 215px;
  height: 170px;
}
#cup {
  position: absolute;
  left: 125px;
  bottom: 0;
  display: none;
}
#topping-juice {
  position: absolute;
  left: 140px;
  top: 150px;
  display: none;
}
#cone {
  position: absolute;
  left: 150px;
  bottom: 0;
}
#scoop {
  position: absolute;
  left: 150px;
  bottom: 250px;
}
.topping-cone-1 {
  position: absolute;
  left: 150px;
  bottom: 200px;
}
.topping-cone-2 {
  position: absolute;
  left: 150px;
  bottom: 300px;
}
.topping-bucket {
  position: absolute;
  left: 150px;
  bottom: 250px;
}
#topping-bucket-nut {
  bottom: 200px;
}
select {
  display: block;
}
#ordersBox {
  width: 380px;
}