body {
  text-align: center;
  background: #9ed3ff;
}
input {
  background: #b5ddff;
  border: 1px solid black;
}
#output {
  background: black;
  color: white;
  padding: 5px;
}
#symbol {
  background: black;
  color: white;
  padding: 5px;
}
img {
  width: 25vw;
}
#txt {
  text-shadow:
    0px -2px 4px #fff,
    0px -2px 10px #FF3,
    0px -10px 20px #F90,
    0px -20px 40px #C33;
  font-size: 100px;
}
