body {
  text-align: center;
  background: #9ed3ff;
}
#main {
	margin: 1em auto;
}
.life {
	border: 0.5px solid white;
}
#pause-game {
	border-width: 2px;
	border-color: green;
}
.game-active {
	border-color: green;
}
.not-game-active {
	border-color: red !important;
}