body {
  text-align: center;
  background: #9ed3ff;
}
input {
  background: #b5ddff;
  border: 1px solid black;
}
#output {
  background: black;
  color: white;
  padding: 5px;
}
#symbol {
  background: black;
  color: white;
  padding: 5px;
}
