body {
  text-align: center;
  background: #9ed3ff;
}
input {
  background: #b5ddff;
  border: 1px solid black;
}
#output {
  background: black;
  color: white;
  padding: 5px;
}
#symbol {
  background: black;
  color: white;
  padding: 5px;
}
img {
  width: 25vw;
  border: 0;
}
#txt {
  text-shadow:
    0px -2px 4px #fff,
    0px -2px 10px #FF3,
    0px -10px 20px #F90,
    0px -20px 40px #C33;
  font-size: 35px;
}
img {
  width: 50px;
  height: 50px;
}
table {
  margin: 0 auto;
}
#payrow {
  background: white;
  margin: 20px;
}
#controller {
  border: 1px solid black;
  height: 150px;
}
#run {
  background: white;
  border: 2px solid black;
  margin: 0 20px;
}